<section class="h-screen flex flex-col items-center justify-center" id="hero">
    <div class="text-center transform -translate-y-48">
        <!-- Text Content -->

            <!-- Main Heading -->
		<h1 class="max-w-full mb-6 text-9xl font-bold tracking-tight leading-tight text-gray-200">
			Stealth Mode
		</h1>

        <!-- Image -->
        
    </div>
</section>